{include file="pageheader"}
<div class="panel panel-default" style="margin:0;">
	<div class="panel-heading">{$lang['add'].$lang['qrcode']}</div>
	<div class="content_tips of">
	<div class="flexilist of">
		<div class="main-info of">
			<form action="{url('qrcode_edit')}" method="post" class="form-horizontal" role="form" onsubmit="return false;">
		        <!--<div class="switch_info of">-->
			        <div class="item">
			          <div class="label-t">{$lang['qrcode_type']}:</div>
			          <div class="label_value">
			          	<div class="select_w320">
			              <select class="form-control input-sm" name="data[type]">
			              	<option value="0">{$lang['qrcode_short']}</option>
			              	<option value="1">{$lang['qrcode_forever']}</option>
			              </select>
			             </div>
			          </div>
			        </div>
			        <div class="item">
			          <div class="label-t">{$lang['qrcode_valid_time']}:</div>
			          <div class="label_value">
			              <input type="text" name="data[expire_seconds]" class="text" placeholder="默认1800秒,永久二维码不用设置" />
			               <div class="notic">{$lang['qrcode_help1']}</div>
			            </div>
			        </div>
			        <div class="item">
			          <div class="label-t">{$lang['qrcode_function']}:</div>
			          <div class="label_value">
			              <input type="text" name="data[function]" class="text" />
			            </div>
			        </div>
			        <div class="item">
			          <div class="label-t">{$lang['qrcode_scene_value']}:</div>
			          <div class="label_value">
			              <input type="text" name="data[scene_id]" class="text" placeholder="请从小到大依次填写非0整型数值" />
			              <div class="notic">{$lang['qrcode_help2']}</div>
			            </div>
			        </div>
			        <div class="item">
			            <div class="label-t">{$lang['wechat_status']}:</div>
			            <div class="label_value">
				          	<div class="checkbox_items">
			                    <div class="checkbox_item">
				                    <input type="radio" name="data[status]" class="ui-radio event_zhuangtai" id="value_118_0" value="1" checked="true">
				                    <label for="value_118_0" class="ui-radio-label active">{$lang['enabled']}</label>
				                </div>
				                <div class="checkbox_item">
				                    <input type="radio" name="data[status]" class="ui-radio event_zhuangtai" id="value_118_1" value="0" checked="">
				                    <label for="value_118_1" class="ui-radio-label active">{$lang['disabled']}</label>
				                </div>
			                </div>
			            </div>
			        </div>
			        <div class="item">
			          <div class="label-t">{$lang['sort_order']}:</div>
			          <div class="label_value">
			              <input type="text" name="data[sort]" class="text" />
			            </div>
			        </div>
			        <div class="item">
			          <div class="label-t">&nbsp;</div>
			          <div class="label_value info_btn">
							<input type="submit" value="{$lang['button_submit']}" class="button btn-danger bg-red" />
			              	<input type="reset" value="{$lang['button_reset']}" class="button button_reset" />
			          </div>
			        </div>
		        <!--</div>-->
			</form>
		</div>
	</div>


</div>
</div>
<script type="text/javascript">
$(function(){
	$(".form-horizontal").submit(function(){
	    var ajax_data = $(this).serialize();
	    $.post("{url('qrcode_edit')}", ajax_data, function(data){
	        if(data.status > 0){
	            window.parent.location.reload();
			}
	        else{
	            alert(data.msg);
	            return false;
		    }
	    }, 'json');
	});
})
</script>
{include file="pagefooter"}
