{include file="pageheader"}
<div class="wrapper">
	<div class="title"><a href="{url('wall_index')}" class="s-back">返回</a>{$lang['wechat_menu']} - 微信墙中奖名单</div>
	<div class="content_tips">
        <div class="tabs_info">
            <ul>
                <li><a href="{url('wall_msg_check', array('id' => $wall_id, 'status'=>0))}">未审核信息</a></li>
                <li><a href="{url('wall_msg_check', array('id' => $wall_id, 'status'=>'all'))}">全部信息</a></li>
                <li><a href="{url('wall_user', array('id' => $wall_id))}">参与人员</a></li>
                <li class="curr"><a href="{url('wall_prize', array('id' => $wall_id))}">中奖名单</a></li>
            </ul>
        </div>
	    <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>微信墙中奖名单</li>
            </ul>
        </div>
		<div class="flexilist of">
            <div class="common-content">
                <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
                    <div class="list-div">
                    <table class="table-hover table-striped">
                    <tr class="text-center">
                        <th class="text-center">微信昵称</th>
                        <!--<th class="text-center">奖品</th>-->
                        <th class="text-center">是否发放</th>
                        <th class="text-center">中奖时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                    {if $list}
                    {foreach $list as $val}
                    <tr class="text-center wall-list">
                        <td class="text-center">{$val['nickname']}</td>
                        <!--<td class="text-center">{$val['prize_name']}</td>-->
                        <td class="text-center">{$val['issue_status']}</td>
                        <!--<td class="text-center">{if is_array($val['winner'])}{$val['winner']['name']}<br />{$val['winner']['phone']}<br />{$val['winner']['address']}{/if}</td>-->
                        <td class="text-center">{$val['dateline']}</td>
                        <td class="info_btn">
                            {$val['handler']}
                            <a href="{url('wechat/send_custom_message', array('openid'=>$val['openid']))}" class="button  btn-info fancybox fancybox.iframe">通知用户</a>
                            <a href="javascript:if(confirm('{$lang['confirm_delete']}'))location.href='{url('winner_del', array('id'=>$val['id']))};';" class="button btn-default">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    {else}
                    <tr class="no-records" ><td colspan="4">没有找到任何记录</td></tr>
                    {/if}
                    </table>
                    </div>
                </div>
		    </div>
	    </div>
        <div class="list-div of">
            <table cellspacing="0" cellpadding="0" border="0">
                <tfoot>
                    <tr>
                        <td colspan="7">
                            {include file="pageview"}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
	</div>
</div>

{include file="pagefooter_copyright"}
{include file="pagefooter"}