 <!--快捷导航-->
    <nav class="commom-nav dis-box ts-5">
        <div class="left-icon">
            <div class="nav-icon"><i class="iconfont icon-jiantou1"></i>快速导航</div>
            <div class="filter-top filter-top-index" id="scrollUp">
                <i class="iconfont icon-jiantou"></i>
                <span>顶部</span>
            </div>
        </div>
        <div class="right-cont box-flex">
            <ul class="nav-cont">
                <li>
                      <a href="{url('/')}">
                        <i class="iconfont icon-home"></i>
                        <p>首页</p>
                      </a>  
                </li>
                <li>
                     <a href="{url('category/index/index')}">
                         <i class="iconfont icon-caidan"></i>
                         <p>分类</p>
                     </a> 
                </li>
                <li>
                     <a href="{url('team/index/index')}">
                         <i class="iconfont icon-wodetuandui"></i>
                         <p>拼团频道</p>
                      </a> 
                </li>

                 <li>
                    <a href="{url('team/index/userranking')}">
                         <i class="iconfont icon-paixing"></i>
                         <p>排行</p>
                    </a> 
                </li>          
                                <li>
                    <a href="{url('user/index/index')}">
                         <i class="iconfont icon-geren"></i>
                         <p>个人中心</p>
                    </a> 
                </li>
            </ul>
        </div>
    </nav>
    <div class="common-show"></div> 