{include file="page_header"}
<div class="con">
	<div class="goods-info user-order of-hidden ect-tab j-ect-tab ts-3" style="padding-top: 0rem;">
		<nav class=" j-tab-title tab-title b-color-f of-hidden" style="position: static;">
			<ul class="dis-box">
				<li class="box-flex active">售后申请</li>
				<li class="box-flex">进度查询</li>
			</ul>
		</nav>
		<div id="j-tab-con" class="tab-con">
			<div class="swiper-wrapper">
				<section class="swiper-slide order_info">
					<script id="j-order" type="text/html">
					<%if order_list != null%>
					<%each order_list as order%>
					<section class="flow-checkout-pro m-top08">
						<div class="padding-all m-top1px b-color-f n-reture-num">
							<a href="javascript:;">
							<h4 class="t-remark2"><label class="t-remark">订单号：</label><%order.order_sn%></h4>
							<p class="t-remark3 m-top04"><%order.add_time%></p>
							</a>
						</div>
						<!--order-list s-->
						<%each order.goods_list as goods%>
						<section class="n-return-list-box b-color-f">
							<ul class="dis-box">
								<li  class="reture-left-img">
									<a href="javascript:;>"<!--<%order.order_url%>-->
										<div class="img-box"><img class="product-list-img" src="<%goods.goods_thumb%>"></div>
									</a>
								</li>
								<li class="box-flex reture-right-cont">
									<a href="javascript:;"><h4 class="onelist-hidden m-top02"><%goods.goods_name%></h4></a>
									<div class="dis-box reture-footer">
										<div class=""><span class="f-03 col-7">数量：×<%goods.goods_number%></span></div>
										<div class="box-flex">
											<a href="<%goods.apply_return_url%>" class="btn-submit1 n-return-btn fr br-5" style="border:1px solid #ec5151;">申请售后</a>
										</div>
									</div>
								</li>
							</ul>
						</section>
						<%/each%>
						<!--order-list e-->
					</section>
					<%/each%>
					<%else%>
					<div class="no-return-list">
						<i class="iconfont icon-biaoqingleiben"></i>
						<p>亲，此处没有内容～！</p>
					</div>
					<%/if%>
					</script>
				</section>
				<section class="swiper-slide refound_info">
					<script id="j-refound" type="text/html">
					<%if refound_list != null%>
					<%each refound_list as refound%>
					<!--list s-->
					<section class="flow-checkout-pro m-top08">
						<div class="padding-all m-top1px b-color-f n-reture-num">
							<h4 class="t-remark2"><label class="t-remark">订单号：</label><%refound.order_sn%><!--<span class="t-jiantou-2"><i class="iconfont icon-jiantou tf-180"></i></span>--></h4>
							<p class="t-remark3 m-top04"><%refound.apply_time%>   <span class="color-red"><%refound.reimburse_status%></span></p>
						</div>
						<!--order-list s-->
						<section class="n-return-list-box b-color-f">
							<ul class="dis-box">
								<li class="reture-left-img">
									<div class="img-box"><img class="product-list-img" src="<%refound.goods_thumb%>"></div>
								</li>
								<li class="box-flex reture-right-cont">
									<h4 class="onelist-hidden"><%refound.goods_name%></h4>
									<div class="dis-box reture-footer">
										<div class=""><span class="f-04 col-7">数量：× <%refound.return_number%></span></div>
										<div class="box-flex">
											<div class="fr">
											<%if refound.refound_cancel_url%>
											<a class="btn-default n-return-btn br-5" href="<%refound.refound_cancel_url%>" onclick="if(!confirm('确定取消申请？'))return false;">取消</a>
											<%/if%>
											<a class="btn-submit1 n-return-btn br-5" style="border:1px solid #ec5151;" href="<%refound.refound_detail_url%>">查看详情</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</section>
						<!--order-list e-->
					</section>
					<!--list e-->
					<%/each%>
					<%else%>
					<div class="no-return-list">
						<i class="iconfont icon-biaoqingleiben"></i>
						<p>亲，此处没有内容～！</p>
					</div>
					<%/if%>
					</script>
				</section>
			</div>
		</div>
	</div>
</div>
    <!--快捷导航-->
    {include file="float_nav"}
    {include file="float_nav_footer"}
<script type="text/javascript">
	/*切换*/
	var tabsSwiper = new Swiper('#j-tab-con', {
		speed: 100,
		noSwiping: true,
		autoHeight: true,
		onSlideChangeStart: function() {
			$(".j-tab-title .active").removeClass('active')
			$(".j-tab-title li").eq(tabsSwiper.activeIndex).addClass('active')
		}
	})
	$(".j-tab-title li").on('touchstart mousedown', function(e) {
		e.preventDefault()
		$(".j-tab-title .active").removeClass('active')
		$(this).addClass('active')
		tabsSwiper.slideTo($(this).index())
	})
	$(".j-tab-title li").click(function(e) {
		e.preventDefault()
	})
	//订单列表
	var infinite1 = $('.order_info').infinite({url: "{url('user/refound/index')}", template: 'j-order', params: 'type=0&order_id='+{$order_id}});
	var infinite2 = $('.refound_info').infinite({url: "{url('user/refound/index')}", template: 'j-refound', params: 'type=1&order_id='+{$order_id}});
</script>
</body>
</html>
