{include file="page_header"}
<div class="con">
    <div class="goods-info user-order of-hidden ect-tab j-ect-tab ts-3" style="padding-top:0">
        <nav class="tab-title b-color-f of-hidden">
            <ul class="dis-box">
                <li class="box-flex {if empty($status)}active{/if}"><a status="0" >全场优惠券</a></li>
                <li class="box-flex {if $status == 2}active{/if}"><a status="2" >会员券</a></li>
            </ul>
        </nav>
        <div id="j-tab-con" class="tab-con margin-lr">
            <div class="swiper-wrapper">
                <section class="swiper-slide store_info">
                       <script id="j-product" type="text/html">
                      <%if coupons_list.tab !=''%>
                        <%each coupons_list.tab as order%>
                        <section class="dis-box user-coupont-box b-color-f m-top10">
                            <div class="coupont-left">
                                <span><sup>¥</sup><%order.cou_money%></span>
                            </div>
                            <div class="box-flex coupont-cont padding-all">
                                 <h4 class="coupont-cont-title">[<%order.cou_name%>]</h4>
                                 <div class="f-05 m-top02">满 <%order.cou_man%>元 送<%order.cou_money%>元</div>
                                  <p class="f-03 col-9 m-top02"><%order.endtime%></p>
                            </div>
                            <div class="coupont-right padding-all">
                                    <a href="#" class="ts-1active" cou_id="<%order.cou_id%>">
                                        <span class="">领取</sapn>
                                    </a>
                            </div>
                        </section>
                            
                        </ul>
                         <%/each%>
                        <%else%>
                        <div class="no-div-message">
                            <i class="iconfont icon-biaoqingleiben"></i>
                            <p>亲，还没有优惠券哦～！</p>
                        </div>
                        <%/if%>
                     </script>
                     <input type="hidden" value="{$sessionid}" id="uid">
                    </section>
                </div>
            </div>
        </div>
    </div>
         <!--快捷导航-->
    {include file="float_nav"}
    {include file="float_nav_footer"}
    <script type="text/javascript">
        /*切换*/
        var tabsSwiper = new Swiper('#j-tab-con', {
            speed: 100,
            noSwiping: true,
            autoHeight: true,
            onSlideChangeStart: function () {
                $(".j-tab-title .active").removeClass('active')
                $(".j-tab-title li").eq(tabsSwiper.activeIndex).addClass('active')
            }
        })
        $(".j-tab-title li").on('touchstart mousedown', function (e) {
            e.preventDefault()
            $(".j-tab-title .active").removeClass('active')
            $(this).addClass('active')
            tabsSwiper.slideTo($(this).index())
        })
        $(".j-tab-title li").click(function (e) {
            e.preventDefault()
        })
        //列表
        var infinite = $('.store_info').infinite({url: "{url('coupont/Index/index')}", template: 'j-product', params: 'status={$status}'});
        $(".tab-title a").click(function () {
            var status = $(this).attr('status');
            infinite.onload('status=' + status);
            $(this).parent().addClass("active").siblings().removeClass("active");
        })
        $("#j-tab-con").on("click", ".ts-1active", function () {
            var id = $(this).attr('cou_id');
            $.get("{url('coupont/index/getcoupon')}", {cou_id: id}, function (info) {
                if(info.error == '1'){
                     layer.open({
                            content: '还未登录，请登录之后领取',
                            btn: ['确定', '取消'],
                            shadeClose: false,
                            yes: function() {
                                window.location.href = ROOT_URL + "index.php?m=user&c=login";
                            },
                            no: function() {
                            }
                        });
                };
                if(info.error == '2'){
                    d_messages(info.msg);
                }
                if(info.error == '3'){
                    d_messages(info.msg);
                }
                if(info.error == '4'){
                    d_messages(info.msg);
                }
                if(info.error == '5'){
                    d_messages(info.msg);
                }
            },'json');
        });
    </script>
</body>

</html>
