{include file="page_header"}
<div class="con">
    <div class="seckill-box  ect-tab  j-ect-tab ts-3">
    <div class="hd tab-title  f-01 wallet-bt j-tab-title-1" style="padding-top:0">
        <div class="seckill-scll">
            <nav class="tab-title b-color-f  seckill-box-nav text-c">
                <ul class="dis-box">
                    {foreach $time_list as $time}
                    <li class="box-flex    {if $time.active==1} active{/if}">
                        <a status="{$time.id}" tomorrow="{$time.tomorrow}"> <strong class="f-2">
                                {$time.title}
                                {if $time.tomorrow == 1}
                                <em class="time-tag">明</em>
                                {/if}
                            </strong>
                            {if !$time.is_end && !$time.status}
                            <p class="f-01">即将开始</p>
                            {elseif !$time.is_end && $time.status}
                            <p class="f-01">抢购中</p>
                            {else}
                            <p class="f-01">已结束</p>
                            {/if}
                        </a>
                    </li> 
                    {/foreach}
                </ul>
            </nav>
        </div>
        <section class="seckill-heaer-img">
            <div class="index-banner swiper-container box position-rel banner-first">
                <div class="swiper-wrapper">
                    {insert_ads(array('id'=>2000, 'num'=>6))}
                   <!--<div class="swiper-slide">
                            <img src="__TPL__/img/seckill.jpg" class="img">
                    </div>-->
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination banner-first-pagination" style="bottom: 0"></div>
            </div>
        </section>
        <!--秒杀倒计时nav-->
    
        <div id="j-tab-con" class="tab-con index-seckill">
               <div class="swiper-wrapper">
                <section class="swiper-slide store_info">
                       <script id="j-product" type="text/html">
                      <%if gb_list !=''%>
                      <%if page ==1%>
                            <div class="seckill-heaer f-03 dis-box b-color-f wallet-bt">
                                   <div class="header-left color-red">全场爆款，限时抢购</div>
                                   <div id="fnTimeCountDown" class="box-flex col-6 text-right" data-end="<%end_time%>">
                                               <%if !seckill_status.is_end && !seckill_status.status%>
                                               距开始
                                               <%else if !seckill_status.is_end && seckill_status.status%>
                                               距结束 
                                               <%else%>
                                                  已结束
                                               <%/if%>
                                           <span>
                                               <!--<label class="day">00</label><em>:</em>-->
                                               <label class="hour">00</label><em>:</em>
                                               <label class="mini">00</label><em>:</em>
                                               <label class="sec">00</label>
                                            </span>
                                       </div>
                               </div>
                          <%/if%>
                            <ul class="seckill-list  b-color-f">
                            <%each gb_list.list as list%>
                                <li class="seckill-cont dis-box padding-all position-rel">
                                    <a class="product-div-link" href="<%list.url%>"></a>
                                    <div class="cont-left position-rel">
                                        <img src="<%list.goods_thumb%>" class="img">
                                        <p class="seckill-teg">已抢完</p>
                                    </div>
                                    <div class="box-flex cont-right position-rel">
                                        <h4 class="f-06 onelist-hidden col-3"><%list.goods_name%></h4>
                                        <p class="f-03 col-9 m-top02 text-left">限量<%list.sec_num%>件</p>
                                          <%if !list.is_end && !list.status%>
                                            <div class="plan-box m-top08 dis-box">
                                            <p class="right-cont-title font-03 ec-color box"><%list.data_end_time%>准时开抢</p>
                                        </div>
                                          <%else if !list.is_end && list.status%>
                                           <div class="plan-box m-top08 dis-box">
                                                <p class="left-title">
                                                    <em><%list.percent%>%</em>
                                                    <i class="color" style="width:<%list.percent%>%;"></i>
                                                </p>
                                                <p class="right-title f-03 col-9">已抢<%list.valid_goods%>件</p>
                                            </div>
                                          <%else%>
                                            
                                         <%/if%> 
                                        <div class="dis-box sec-but-list">
                                            <p class="box-flex color-red f-08"><em>￥</em><%list.sec_price%><del>￥<%list.market_price%></del></p>
                                            <p class="btn-right">
                                                    <%if !list.is_end && !list.status%>
                    								<span class="btn-seckill-d b-s f-05 fr">即将开始</span>
                    								<%else if !list.is_end && list.status%>
                    								<span class="btn-seckill-z b-s f-05 fr">去抢购</span>
                    								<%else%>
                    								<span class="btn-seckill-s b-s f-05 fr">已结束</span>
                                                    <%/if%> 
                                                </p>
                                        </div>
                                    </div>
                                   
                                </li>
                                  <%/each%>
                            </ul>
                        <%else%>
                        <div class="no-div-message">
                            <i class="iconfont icon-biaoqingleiben"></i>
                            <p>亲，还没有活动哦～！</p>
                        </div>
                        <%/if%>
                     </script>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-cont"><span><img src='{elixir('img/loading1.gif')}'>正在加载……</span></div>
</div>
    <!--快捷导航-->
    {include file="float_nav"}
    {include file="float_nav_footer"}
    <script type="text/javascript">
    $(function(){
        //秒杀轮播
       var mySwiper = new Swiper('.banner-first', {
            autoplay: 4000,
            loop: true,
            pagination: '.banner-first-pagination'
        });
        seckillHight = $(".seckill-box-nav").outerHeight(true); 
        $(".seckill-heaer-img").css("margin-top",seckillHight +"px");
        //加载更多
         var loadingHeight = $(".seckill-list").outerHeight(true);
            function loadimgCont(){
                if ($(document).scrollTop() >= $(window).height() <$(document).height() - $(window).height()) {
                    $(".footer-cont").html("<span><img src='{elixir('img/loading1.gif')}'>正在加载……</span>")
                }
                if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                    $(".footer-cont").html("<span>没有更多了</span>")
                }
                if(loadingHeight< $(window).height()){
                    $(".footer-cont").css("display","none");
                }else{
                    $(".footer-cont").css("display","block");
                }
            }
            loadimgCont();
            $(window).scroll(function() {
                loadimgCont()
            });
        /*团购详情倒计时*/
         $("#fnTimeCountDown").fnTimeCountDown();
    });
        var infinite = $('.store_info').infinite({url: "{url('seckill/Index/index')}",template: 'j-product'});
        $('.seckill-box-nav a').on('click', function(){ 
            var status = $(this).attr('status');
            var tomorrow = $(this).attr('tomorrow');
            infinite.onload('status=' + status+'&tomorrow='+tomorrow);
            $(this).parent().addClass("active").siblings().removeClass("active");
            $("#fnTimeCountDown").fnTimeCountDown();
        });
        </script>
</body>
</html>