{include file="header"}

<body>
<div class="con mb-7">
    <div class="index-banner swiper-container box position-rel banner-first">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="__PUBLIC__/assets/purchase/img/who_index.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="__PUBLIC__/assets/purchase/img/who_index.jpg" />
            </div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination banner-first-pagination" style="bottom:0"></div>
        <section class="search box banner-search who-search ts-3" style="position:absolute;">
            <div class="text-all position-rel dis-box j-text-all" style="padding:.66rem 0">
                <div class="search-logo wholesale-logo-search">
                    <div class="box-flex">
                        <i class="iconfont icon-caidan j-wholesale-cate j-show-div"></i>
                    </div>
                </div>

                <div class="box-flex input-text   wholesale-input-text">
                    <div class="j-input-text nav-soso"><i class="iconfont icon-sousuo"></i><input class="j-input-text" type="text" name="keyword" autofocus="autofocus" placeholder="批发搜索"></div>
                </div>
            </div>
        </section>
        <!--linear-->
        <div class="linear"></div>
    </div>
    <!--分类列表-->
    <section class="menu-left wholesale-cate-list ts-5" id="sidebar">
        <div class="wholesale-cate-box ">
            <ul>
                <li class="active"><a href="wholesale_list.html">家用电器</a></li>
                <li><a href="wholesale_list.html">手机数码</a></li>
                <li><a href="wholesale_list.html">电脑办公</a></li>
                <li><a href="wholesale_list.html">家居家纺</a></li>
                <li><a href="wholesale_list.html">男装女装</a></li>
                <li><a href="wholesale_list.html">鞋靴箱包</a></li>
                <li><a href="wholesale_list.html">个人化妆</a></li>
                <li><a href="wholesale_list.html">母婴玩具</a></li>
                <li><a href="wholesale_list.html">图书音像</a></li>
                <li><a href="wholesale_list.html">休闲运动</a></li>
                <li><a href="wholesale_list.html">腕表珠宝</a></li>
                <li><a href="wholesale_list.html">汽车汽配</a></li>
                <li><a href="wholesale_list.html">食品酒水</a></li>
                <li><a href="wholesale_list.html">保健器械</a></li>
                <li><a href="wholesale_list.html">营养滋补</a></li>
                <li><a href="wholesale_list.html">礼品卡券</a></li>

                <li><a href="wholesale_list.html">鞋靴箱包</a></li>
                <li><a href="wholesale_list.html">个人化妆</a></li>
                <li><a href="wholesale_list.html">母婴玩具</a></li>
                <li><a href="wholesale_list.html">图书音像</a></li>
                <li><a href="wholesale_list.html">休闲运动</a></li>
                <li><a href="wholesale_list.html">腕表珠宝</a></li>
                <li><a href="wholesale_list.html">汽车汽配</a></li>
                <li><a href="wholesale_list.html">食品酒水</a></li>
                <li><a href="wholesale_list.html">保健器械</a></li>
                <li><a href="wholesale_list.html">营养滋补</a></li>
                <li><a href="wholesale_list.html">礼品卡券</a></li>
            </ul>
        </div>
    </section>
    <div class="mask-filter-div"></div>
    <!--限时采购-->
    <div class="box padding-all b-color-f m-top08">
        <h3 class="recom-title">限时采购</h3>
    </div>
    <section class="padding-all goods-shop no-shopping-title b-color-f">
        <div class="goods-shop-pic of-hidden">

            <div class="g-s-p-con product-one-list who-product-one-list of-hidden  j-g-s-p-con swiper-container-horizontal" style="cursor: -webkit-grab;">
                <div class="swiper-wrapper">
                    <li class="swiper-slide swiper-slide-active">
                        <div class="product-div">
                            <a class="product-div-link" href="wholesale_goods.html"></a>
                            <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_01.png">
                            <div class="product-text m-top06 index-product-text">
                                <h4>韩版2015冬装新款女装拼舒服羽绒服GW4509</h4>
                                <p><span class="p-price "><em class=" t-first">¥789.00</em><em class="f-01 col-9">/个</em></span></p>
                                <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide swiper-slide-next">
                        <div class="product-div">
                            <a class="product-div-link" href="wholesale_goods.html"></a>
                            <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_02.png">
                            <div class="product-text m-top06 index-product-text">
                                <h4>韩版15冬装新款女宽松连帽羽绒服DU5014樱</h4>
                                <p><span class="p-price "><em class=" t-first">¥1009.00</em><em class="f-01 col-9">/个</em></span></p>
                                <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="product-div">
                            <a class="product-div-link" href="wholesale_goods.html"></a>
                            <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_04.png">
                            <div class="product-text m-top06 index-product-text">
                                <h4>衣品天成2015冬装新款修身长款连帽毛领羽绒服女</h4>
                                <p><span class="p-price "><em class=" t-first">¥71.00</em><em class="f-01 col-9">/个</em></span></p>
                                <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="product-div">
                            <a class="product-div-link" href="wholesale_goods.html"></a>
                            <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_05.png">
                            <div class="product-text m-top06 index-product-text">
                                <h4>女幼童羽绒服卡通女童宝宝保暖外套儿童冬装新款</h4>
                                <p><span class="p-price "><em class=" t-first">¥1560.00</em><em class="f-01 col-9">/个</em></span></p>
                                <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="product-div">
                            <a class="product-div-link" href="wholesale_goods.html"></a>
                            <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_07.png">
                            <div class="product-text m-top06	index-product-text">
                                <h4>女装 保暖修身弹力长裤 154155 优衣库UNIQLO</h4>
                                <p><span class="p-price "><em class=" t-first">¥205.00</em><em class="f-01 col-9">/个</em></span></p>
                                <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <section class="who_list m-top08">
        <a href="wholesale_list.html">
            <div class="box padding-all b-color-f">
                <h3 class="recom-title">
                    1F家用电器
                    <span class="t-jiantou t-remark fr">更多批发<i class="iconfont icon-more"></i></span>
                </h3>
            </div>
        </a>
        <div class="product-list j-product-list product-list-medium" data="1">
            <ul>
                <li>
                    <div class="product-div">
                        <a class="product-div-link" href="wholesale_goods.html"></a>
                        <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/category_top_32.png" />
                        <div class="product-text index-product-text">
                            <h4>韩版2015冬装新款女装拼接羽绒服GW4509</h4>
                            <p><span class="p-price"><em class=" t-first ">¥89.00</em><em class="f-02 col-7">/个</em></span></p>
                            <div class="dis-box f-02 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span><span class="box-flex text-right">成交量:30</span></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-div">
                        <a class="product-div-link" href="wholesale_goods.html"></a>
                        <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/index_discount_3.png" />
                        <div class="product-text">
                            <h4>韩版15冬装新款女宽松连帽羽绒服DU5014樱</h4>
                            <p><span class="p-price"><em class=" t-first ">¥2096.00</em><em class="f-02 col-7">/个</em></span></p>
                            <div class="dis-box f-02 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span><span class="box-flex text-right">成交量:30</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="who_list m-top08">
        <a href="wholesale_list.html">
            <div class="box padding-all b-color-f">
                <h3 class="recom-title">
                    2F男装、女装、内衣
                    <span class="t-jiantou t-remark fr">更多批发<i class="iconfont icon-more"></i></span>
                </h3>
            </div>
        </a>
        <div class="product-list j-product-list product-list-medium" data="1">
            <ul>
                <li>
                    <div class="product-div">
                        <a class="product-div-link" href="wholesale_goods.html"></a>
                        <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/category_top_13.png" />
                        <div class="product-text">
                            <h4>韩版2015冬装新款女装拼接羽绒服GW4509</h4>

                            <p><span class="p-price"><em class=" t-first ">¥179.00</em><em class="f-02 col-7">/个</em></span></p>
                            <div class="dis-box f-02 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span><span class="box-flex text-right">成交量:30</span></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-div">
                        <a class="product-div-link" href="wholesale_goods.html"></a>
                        <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/category_top_14.png" />
                        <div class="product-text">
                            <h4>韩版15冬装新款女宽松连帽羽绒服DU5014樱</h4>
                            <p><span class="p-price"><em class=" t-first ">¥19.00</em><em class="f-02 col-7">/个</em></span></p>
                            <div class="dis-box f-02 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span><span class="box-flex text-right">成交量:30</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="who_list m-top08">
        <a href="wholesale_list.html">
            <div class="box padding-all b-color-f">
                <h3 class="recom-title">
                    3F电脑、办公
                    <span class="t-jiantou t-remark fr">更多批发<i class="iconfont icon-more"></i></span>
                </h3>
            </div>
        </a>
        <div class="product-list j-product-list product-list-medium" data="1">
            <ul>
                <li>
                    <div class="product-div">
                        <a class="product-div-link" href="wholesale_goods.html"></a>
                        <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/index_discount_2.png" />
                        <div class="product-text">
                            <h4>韩版2015冬装新款女装拼接羽绒服GW4509</h4>
                            <p><span class="p-price"><em class=" t-first ">¥9.00</em><em class="f-02 col-7">/个</em></span></p>
                            <div class="dis-box f-02 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span><span class="box-flex text-right">成交量:30</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
{include file="menu"}

<!--悬浮菜单e-->
<script type="text/javascript " src="__PUBLIC__/assets/purchase/js/jquery-2.1.4.min.js "></script>
<!-- jquery-ui-1.10.1.custom.min.js和jquery.ui.touch-punch.min.js使jquery 拥有手机touch事件-->
<script src="__PUBLIC__/assets/purchase/js/jquery-ui-1.10.1.custom.min.js " type="text/javascript "></script>
<script src="__PUBLIC__/assets/purchase/js/jquery.ui.touch-punch.min.js "></script>

<!--script for this page only-->
<script type="text/javascript " src="__PUBLIC__/assets/purchase/js/ectouch.js "></script>
<script type="text/javascript " src="__PUBLIC__/assets/purchase/js/swiper-3.2.5.min.js "></script>
<script type="text/javascript ">
    $(function($) {
        var cate_left = $(".wholesale-cate-list ").outerHeight(true);
        $(".wholesale-cate-box").css("height", cate_left);
        $(".j-wholesale-cate").click(function(){
            $(".wholesale-cate-list").addClass("active")
        })
        $(".mask-filter-div,.wholesale-cate-list li").click(function(){
            $(".wholesale-cate-list").removeClass("active")
            $(".mask-filter-div").removeClass("show")
        })
        var mySwiper = new Swiper('.banner-first', {
            pagination: '.banner-first-pagination',
        });
    });
    /*商品滚动*/
    var swiper = new Swiper('.j-g-s-p-con', {
        scrollbarHide: true,
        slidesPerView: 'auto',
        centeredSlides: false,
        grabCursor: true
    });
</script>
</body>

</html>