{include file="header"}

<body>
<div id="loading"><img src="__PUBLIC__/assets/purchase/img/loading.gif" /></div>
<div class="con mb-7">
    <div class="goods-info user-order of-hidden ect-tab j-ect-tab ts-3" style="padding-top:0">
        <nav class=" j-tab-title tab-title b-color-f of-hidden">
            <ul class="dis-box">
                <li class="box-flex active">全部求购</li>
                <li class="box-flex">进行中求购</li>
                <li class="box-flex">已截止求购</li>
            </ul>
        </nav>
        <div id="j-tab-con" class="tab-con">
            <div class="swiper-wrapper">
                <section class="swiper-slide">
                    <section class="product-list j-product-list product-list-small wholesale_buy-box" data="2">
                        <ul>
                            <li>
                                <div class="product-div">
                                    <a class="product-div-link" href="wholesale_buy_info.html"></a>
                                    <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_01.png">
                                    <div class="product-text wholesale-list-cont">
                                        <h4>定制T恤批发 男式短袖t恤速卖通ebay爆款男装</h4>
                                        <p class="dis-box f-03 col-7">采购数量：<em class="color-red">100件</em></p>
                                        <p class="dis-box f-03 col-7">发布时间：2017-07-11</p>
                                        <p class="dis-box f-03 col-7">剩余时间：259天</p>
                                    </div>
                                </div>
                                <div class="wholesale_buy-store   b-color-f">
                                    <ul class="dis-box">
                                        <div class="box-flex">
                                            <h5 class="f-05 col-3">Swisse专卖店</h5>
                                            <p class="f-02 col-7">天津 天津</p>
                                        </div>
                                        <div>
                                            <a href="wholesale_buy_info.html" class="btn">立即联系</a>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="product-div">
                                    <a class="product-div-link" href="wholesale_buy_info.html"></a>
                                    <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/index_like_2.png">
                                    <div class="product-text wholesale-list-cont">
                                        <h4>定制T恤批发 男式短袖t恤速卖通ebay爆款男装</h4>
                                        <p class="dis-box f-03 col-7">采购数量：<em class="color-red">100件</em></p>
                                        <p class="dis-box f-03 col-7">发布时间：2017-07-11</p>
                                        <p class="dis-box f-03 col-7">剩余时间：259天</p>
                                    </div>
                                </div>
                                <div class="wholesale_buy-store   b-color-f">
                                    <ul class="dis-box">
                                        <div class="box-flex">
                                            <h5 class="f-05 col-3">Swisse专卖店</h5>
                                            <p class="f-02 col-7">天津 天津</p>
                                        </div>
                                        <div>
                                            <a href="wholesale_buy_info.html" class="btn">立即联系</a>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="product-div">
                                    <a class="product-div-link" href="wholesale_buy_info.html"></a>
                                    <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/index_like_4.png">
                                    <div class="product-text wholesale-list-cont">
                                        <h4>定制T恤批发 男式短袖t恤速卖通ebay爆款男装</h4>
                                        <p class="dis-box f-03 col-7">采购数量：<em class="color-red">100件</em></p>
                                        <p class="dis-box f-03 col-7">发布时间：2017-07-11</p>
                                        <p class="dis-box f-03 col-7">剩余时间：已结束</p>
                                    </div>
                                </div>
                                <div class="wholesale_buy-store   b-color-f">
                                    <ul class="dis-box">
                                        <div class="box-flex">
                                            <h5 class="f-05 col-3">Swisse专卖店</h5>
                                            <p class="f-02 col-7">天津 天津</p>
                                        </div>
                                        <div>
                                            <a href="wholesale_buy_info.html" class="btn">立即联系</a>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </section>

                </section>
                <section class="swiper-slide">
                    <section class="product-list j-product-list product-list-small wholesale_buy-box" data="2">
                        <ul>
                            <li>
                                <div class="product-div">
                                    <a class="product-div-link" href="wholesale_buy_info.html"></a>
                                    <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_01.png">
                                    <div class="product-text wholesale-list-cont">
                                        <h4>定制T恤批发 男式短袖t恤速卖通ebay爆款男装</h4>
                                        <p class="dis-box f-03 col-7">采购数量：<em class="color-red">100件</em></p>
                                        <p class="dis-box f-03 col-7">发布时间：2017-07-11</p>
                                        <p class="dis-box f-03 col-7">剩余时间：259天</p>
                                    </div>
                                </div>
                                <div class="wholesale_buy-store   b-color-f">
                                    <ul class="dis-box">
                                        <div class="box-flex">
                                            <h5 class="f-05 col-3">Swisse专卖店</h5>
                                            <p class="f-02 col-7">天津 天津</p>
                                        </div>
                                        <div>
                                            <a href="wholesale_buy_info.html" class="btn">立即联系</a>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="product-div">
                                    <a class="product-div-link" href="wholesale_buy_info.html"></a>
                                    <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/index_like_2.png">
                                    <div class="product-text wholesale-list-cont">
                                        <h4>定制T恤批发 男式短袖t恤速卖通ebay爆款男装</h4>
                                        <p class="dis-box f-03 col-7">采购数量：<em class="color-red">100件</em></p>
                                        <p class="dis-box f-03 col-7">发布时间：2017-07-11</p>
                                        <p class="dis-box f-03 col-7">剩余时间：259天</p>
                                    </div>
                                </div>
                                <div class="wholesale_buy-store   b-color-f">
                                    <ul class="dis-box">
                                        <div class="box-flex">
                                            <h5 class="f-05 col-3">Swisse专卖店</h5>
                                            <p class="f-02 col-7">天津 天津</p>
                                        </div>
                                        <div>
                                            <a href="wholesale_buy_info.html" class="btn">立即联系</a>
                                        </div>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </section>
                </section>
                <section class="swiper-slide">
                    <section class="product-list j-product-list product-list-small wholesale_buy-box" data="2">
                        <ul>
                            <li>
                                <div class="product-div">
                                    <a class="product-div-link" href="wholesale_buy_info.html"></a>
                                    <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/index_like_4.png">
                                    <div class="product-text wholesale-list-cont">
                                        <h4>定制T恤批发 男式短袖t恤速卖通ebay爆款男装</h4>
                                        <p class="dis-box f-03 col-7">采购数量：<em class="color-red">100件</em></p>
                                        <p class="dis-box f-03 col-7">发布时间：2017-07-11</p>
                                        <p class="dis-box f-03 col-7">剩余时间：已结束</p>
                                    </div>
                                </div>
                                <div class="wholesale_buy-store   b-color-f">
                                    <ul class="dis-box">
                                        <div class="box-flex">
                                            <h5 class="f-05 col-3">Swisse专卖店</h5>
                                            <p class="f-02 col-7">天津 天津</p>
                                        </div>
                                        <div>
                                            <a href="wholesale_buy_info.html" class="btn">立即联系</a>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>
{include file="menu"}

<!--引用js-->
<script type="text/javascript" src="__PUBLIC__/assets/purchase/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/purchase/js/swiper-3.2.5.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/purchase/js/ectouch.js"></script>
<script>
    /*切换*/
    var tabsSwiper = new Swiper('#j-tab-con', {
        speed: 100,
        noSwiping: true,
        autoHeight: true,
        onSlideChangeStart: function() {
            $(".j-tab-title .active").removeClass('active')
            $(".j-tab-title li").eq(tabsSwiper.activeIndex).addClass('active')
        }
    })
    $(".j-tab-title li").on('touchstart mousedown', function(e) {
        e.preventDefault()
        $(".j-tab-title .active").removeClass('active')
        $(this).addClass('active')
        tabsSwiper.slideTo($(this).index())
    })
    $(".j-tab-title li").click(function(e) {
        e.preventDefault()
    })
</script>
</body>

</html>