{include file="header"}

<body>
<div class="con">
    <div class="goods">
        <div class="goods-photo j-show-goods-img">
            <span class="goods-num" id="goods-num"><span id="g-active-num"></span>/<span id="g-all-num"></span></span>
            <div class="swiper-wrapper">
                <li class="swiper-slide tb-lr-center"><img src="__PUBLIC__/assets/purchase/img/product_01.png" /></li>
                <li class="swiper-slide tb-lr-center"><img src="__PUBLIC__/assets/purchase/img/product_02.png" /></li>
                <li class="swiper-slide tb-lr-center"><img src="__PUBLIC__/assets/purchase/img/product_03.png" /></li>
                <li class="swiper-slide tb-lr-center"><img src="__PUBLIC__/assets/purchase/img/product_04.png" /></li>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <section class="goods-title b-color-f padding-all ">
            <h3>太平鸟女装2015秋冬新品 菱格印花欧根纱拼接连衣女宽松衬衫裙</h3>

        </section>
        <section class="padding-all goods-shop no-shopping-title b-color-f">
            <div class="goods-shop-pic of-hidden">

                <div class="g-s-p-con product-one-list who-product-one-price of-hidden j-g-s-p-con swiper-container-horizontal" style="cursor: -webkit-grab;">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide swiper-slide-active" style="width:4rem">
                            <div class="product-div">
                                <div class="product-text m-top06 index-product-text">
                                    <div><span class="p-price "><em class="col-9 f-03">批发价</em></span></div>
                                    <h5><span class="p-price "><del>原价</del></span></h5>
                                    <div><span class="p-price "><em class="col-9 f-03">起批量</em></span></div>
                                </div>
                            </div>
                        </div>
                        <li class="swiper-slide swiper-slide-active">
                            <div class="product-div">
                                <div class="product-text m-top06 index-product-text">
                                    <div><span class="p-price"><em class=" t-first f-07">1200.00</em></span></div>
                                    <h5><span class="p-price "><del>1300.00</del></span></h5>
                                    <div><span class="p-price "><em class="col-9 f-03">10-19个</em></span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide swiper-slide-next">
                            <div class="product-div">
                                <div class="product-text m-top06 index-product-text">
                                    <div><span class="p-price"><em class=" t-first f-07">¥1100.00</em></span></div>
                                    <h5><span class="p-price "><del>1300.00</del></span></h5>
                                    <div><span class="p-price "><em class="col-9 f-03">20-49个</em></span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide swiper-slide-next">
                            <div class="product-div">
                                <div class="product-text m-top06 index-product-text">
                                    <div><span class="p-price"><em class=" t-first f-07">¥1000.00</em></span></div>
                                    <h5><span class="p-price "><del>1300.00</del></span></h5>
                                    <div><span class="p-price "><em class="col-9 f-03">50-99个</em></span></div>

                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide swiper-slide-next">
                            <div class="product-div">
                                <div class="product-text m-top06 index-product-text">
                                    <div><span class="p-price"><em class=" t-first f-07">¥800.00</em></span></div>
                                    <h5><span class="p-price "><del>1300.00</del></span></h5>
                                    <div><span class="p-price "><em class="col-9 f-03">≥100个</em></span></div>

                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </section>
        <section class="m-top1px padding-all b-color-f goods-service j-show-div">
            <div class="dis-box">
                <label class="t-remark g-t-temark">实力保障</label>
                <div class="box-flex">
                    <div class="dis-box g-r-rule">
                        <p class=" t-remark3">
                            <em class="fl em-promotion">48</em><span class="fl who-service">48小时发货</span></p>
                        <p class="box-flex t-remark3">
                            <em class="fl em-promotion">邮</em><span class="fl">包邮</span></p>
                        <p class="box-flex t-remark3">
                            <em class="fl em-promotion">退</em><span class="fl">包退</span></p>
                    </div>
                </div>
            </div>
        </section>
        <ul class="wholesale-color-property m-top08">
            <h4 class="t-remark title">颜色</h4>
            <li class="dis-box ">
                <div class="left box-flex">
                    <h4 class="f-04 col-3"><strong>白红色</strong></h4>
                    <div class="dis-box f-03 col-9">
                        <div class="box-flex">¥1950.00</div>
                        <div class="box-flex">1000件可售</div>
                    </div>
                </div>
                <div class="box-flex">
                    <div class="div-num dis-box fr">
                        <a class="num-less"></a>
                        <input class="box-flex" type="number" value="1" style="padding:0">
                        <a class="num-plus"></a>
                    </div>
            </li>
            <li class="dis-box">
                <div class="left box-flex">
                    <h4 class="f-04 col-3"><strong>海军蓝</strong></h4>
                    <div class="dis-box f-03 col-9">
                        <div class="box-flex">¥1950.00</div>
                        <div class="box-flex">1000件可售</div>
                    </div>
                </div>
                <div class="box-flex">
                    <div class="div-num dis-box fr">
                        <a class="num-less"></a>
                        <input class="box-flex" type="number" value="1" style="padding:0">
                        <a class="num-plus"></a>
                    </div>
            <li class="dis-box">
                <div class="left box-flex">
                    <h4 class="f-04 col-3"><strong>黄黑色</strong></h4>
                    <div class="dis-box f-03 col-9">
                        <div class="box-flex">¥1950.00</div>
                        <div class="box-flex">1000件可售</div>
                    </div>
                </div>
                <div class="box-flex">
                    <div class="div-num dis-box fr">
                        <a class="num-less"></a>
                        <input class="box-flex" type="number" value="1" style="padding:0">
                        <a class="num-plus"></a>
                    </div>
            </li>
            </li>
        </ul>


        <!--批发爆款-->
        <div class="box padding-all b-color-f m-top08">
            <h3 class="recom-title">批发爆款</h3>
        </div>
        <section class="padding-all goods-shop no-shopping-title b-color-f">
            <div class="goods-shop-pic of-hidden">

                <div class="g-s-p-con product-one-list who-product-one-list of-hidden  j-g-s-p-con swiper-container-horizontal" style="cursor: -webkit-grab;">
                    <div class="swiper-wrapper">
                        <li class="swiper-slide swiper-slide-active">
                            <div class="product-div">
                                <a class="product-div-link" href="wholesale_goods.html"></a>
                                <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_01.png">
                                <div class="product-text m-top06 index-product-text">
                                    <h4>韩版2015冬装新款女装拼舒服羽绒服GW4509</h4>
                                    <p><span class="p-price "><em class=" t-first">¥789.00</em><em class="f-01 col-9">/个</em></span></p>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide swiper-slide-next">
                            <div class="product-div">
                                <a class="product-div-link" href="wholesale_goods.html"></a>
                                <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_02.png">
                                <div class="product-text m-top06 index-product-text">
                                    <h4>韩版15冬装新款女宽松连帽羽绒服DU5014樱</h4>
                                    <p><span class="p-price "><em class=" t-first">¥1009.00</em><em class="f-01 col-9">/个</em></span></p>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="product-div">
                                <a class="product-div-link" href="wholesale_goods.html"></a>
                                <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_04.png">
                                <div class="product-text m-top06 index-product-text">
                                    <h4>衣品天成2015冬装新款修身长款连帽毛领羽绒服女</h4>
                                    <p><span class="p-price "><em class=" t-first">¥71.00</em><em class="f-01 col-9">/个</em></span></p>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="product-div">
                                <a class="product-div-link" href="wholesale_goods.html"></a>
                                <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_05.png">
                                <div class="product-text m-top06 index-product-text">
                                    <h4>女幼童羽绒服卡通女童宝宝保暖外套儿童冬装新款</h4>
                                    <p><span class="p-price "><em class=" t-first">¥1560.00</em><em class="f-01 col-9">/个</em></span></p>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="product-div">
                                <a class="product-div-link" href="wholesale_goods.html"></a>
                                <img class="product-list-img" src="__PUBLIC__/assets/purchase/img/product_07.png">
                                <div class="product-text m-top06	index-product-text">
                                    <h4>女装 保暖修身弹力长裤 154155 优衣库UNIQLO</h4>
                                    <p><span class="p-price "><em class=" t-first">¥205.00</em><em class="f-01 col-9">/个</em></span></p>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">起批量:<em class="color-red">10</em></span></div>
                                    <div class="dis-box f-01 col-9"><span class="box-flex">剩余时间:200天</span></div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </section>
        <div class="goods_load_more m-top08 b-color-f j-goods-detail-img"><i class="iconfont icon-fanhui tf-90"></i><span>上拉查看图文详情</span></div>
    </div>
    <!--悬浮btn star-->
    <section class="filter-btn dis-box j-goods-attr j-show-div j-property">
        <a href="wholesale_cart.html" class="filter-btn-flow filter-btn-a"><i class="iconfont icon-gouwuche"></i><sup class="b-color">9</sup><em>进货单</em></a>
        <a href="javascript:;" class="btn-cart box-flex">加入进货单</a>
        <a href="wholesale_cart.html" class="btn-submit box-flex">立即订购</a>
    </section>
    <!--悬浮btn end-->
</div>

<!--商品属性弹出层end-->
<!--引用js-->
<script type="text/javascript" src="__PUBLIC__/assets/purchase/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/purchase/js/swiper-3.2.5.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/purchase/js/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/purchase/js/ectouch.js"></script>
<script>
    /*商品详情相册切换*/
    var swiper = new Swiper('.goods-photo', {
        paginationClickable: true,
        onInit: function(swiper) {
            document.getElementById("g-active-num").innerHTML = swiper.activeIndex + 1;
            document.getElementById("g-all-num").innerHTML = swiper.slides.length;
        },
        onSlideChangeStart: function(swiper) {
            document.getElementById("g-active-num").innerHTML = swiper.activeIndex + 1;
        }
    });
    /*店铺信息商品滚动*/
    var swiper = new Swiper('.j-g-s-p-con', {
        scrollbarHide: true,
        slidesPerView: 'auto',
        centeredSlides: false,
        grabCursor: true
    });
</script>
</body>

</html>